/*Header*/
#Intro h1 {
  margin: auto;
  width: 30%;
  padding:10px;
  background-color: black;
}
#Intro h2{
  margin:auto;
  margin-top: 25px;
  width: 35%;
  padding:10px;
  background-color: black;
}
#Intro {
  margin:auto;
  padding: 348px;
  background-image: url(../Pics/controller\ background.png);
  font-style: oblique;
  color: white;
}
/*Navagation*/
#nav-bar {
  float: left;
  background-image: url(../Pics/Header\ background.png);
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}
#nav-bar img{
  margin:0;
}
.Nava ul {
  list-style-type: none;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}
.Nava li {
  float: left;
  margin-left: 70px;
  font-size: 30px;
}
.Nava a:link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.Nava a:hover{
  text-decoration: underline;
  color:red;
}
/*body*/
#main{
background-color: #333;
font-size: 25px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
color:white;
}
body{
  margin:0;
}
.About-me img{
  width: 5in;
  height:5in;
}
.About-me {
  margin: auto;
  width: 50%;
}
@media screen and (max-width:600px){
  #Intro img{
      width:100%;
      float:none;
  }
  #main{
    width:100%;
    float:none;
  }
}